@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #DCFCE7 !important; /* inactive */
  opacity: 1 !important;
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: #115E59 !important; /* active */
}
.mySwiper .swiper-pagination {
  position: relative !important;
  margin-top: 1rem;
}

.gradiant-bg{
background: #85ACAA;
background: linear-gradient(90deg, rgba(133, 172, 170, 1) 0%, rgba(155, 188, 186, 1) 50%, rgba(253, 253, 253, 1) 100%);
}
